/* Este archivo debe contener las reglas de estilo. Queremos que escribas tus
propias reglas, por eso NO está permitido el uso de frameworks de CSS
(Bootstrap, materialize, etc). */


/* configuración cajas y margenes general*/
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    }

body {
    /* outline: 20px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(9, 121, 82);
    font-family: 'Patrick Hand';
    font-size: 20px;
}

header {
    /* outline: 4px solid rgb(215, 248, 30);*/
    background-color: rgb(9, 121, 82);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.navmenu {
    /* outline: 2px solid rgb(240, 124, 15);*/
    margin: 40px 0px 10px 0px;
}

ul {
    /*outline: 10px solid rgb(221, 20, 188);*/
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 20px 0px 0px;

}

.containermain {
    /*outline: 2px solid red;*/
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: rgb(141, 140, 140);
    align-items: flex-end;
    
}


.logotextoboton{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 50px 100px;
    align-self: stretch;
    width: 50%;
    
}


.boton {

    text-decoration: none;
    margin: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 121, 82);
    padding: 10px;
    border-radius: 10px;
}


.imagen {
    /*outline: 2px solid red;*/
    width: 100%;
    }


.logo {
    /*outline: 2px solid rgb(94, 255, 0);*/
    width: 100%;

}


footer {
    display: flex;
    
}

.containerfooter {
    background-color: rgb(9, 121, 82);
   
}

a{
    font-size: 16px;
    color:#FFFFFF;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

p{
    margin: 20px;
    padding:0px;
    font-size: 30px;
     

}
/* video
.item{
    flex-basis: 100px;
    height:100px;
    background-color: blueviolet;
    margin: 10px;
    color:aliceblue;
    

    display:flex;
    justify-content: center;
    align-items:center;
    
}


.item:nth-of-type(1){
    order:1;
    flex-grow:1;

}
.item:nth-of-type(2) {
    order:2;
    flex-grow:2;
}
.item:nth-of-type(3){
    order: 3;
    flex-grow:1;
}

*/