/* Este archivo debe contener las reglas de estilo. Queremos que escribas tus
propias reglas, por eso NO está permitido el uso de frameworks de CSS
(Bootstrap, materialize, etc). */

/* configuración cajas y margenes general*/
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* configuración color fondo del cuerpo y tipografía general*/
body {
  background-color: #007056;
  font-family: "Ubuntu";
}

/*Formato Header y barra de navegacións ============ */
header {
  background-color: #007056;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navmenu {
  margin: 40px 0px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0px 20px 0px 0px;
}
a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 0px 10px;
}

.navmenu a:hover {
  color: #004333;
}

/*Formato Section Main. Uso de flex box para layout, el main 
se divide en 

============ */

section {
  max-height: max-content;
}

.containermain {
  background-color: rgb(255, 255, 255);
  min-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  padding: 0px 30px;
  align-items: center;
}

.imagen {
  align-self: flex-end;
  /* margin-left: 500px; */
  /* align-self: stretch; */
}

.containermain img {
  max-width: 60%;
  /* align-self: stretch; */
  align-self: flex-end;
  margin: 0;
}

.logotextoboton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.logotextoboton img {
  max-width: 40%;
  margin: 40px 0px;
  align-self: center;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: rgb(103, 103, 103);
}

.boton {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #007056;
  padding: 10px 35px;
  margin: 50px 0px;
  border-radius: 10px;
}

.containerfooter {
  display: flex;
  justify-content: end;
  margin: 20px 20px;
}
